@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}
body {
  max-width: 1140px;
  height: 100vh;
  margin: 0 auto;
  background-color: #0d1014;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem 0.125rem;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  justify-items: center;
  gap: 2rem;
  padding-block: 2rem;
}

body > h1 {
  text-align: center;
  font-size: clamp(1rem, 1.5rem + 1vw, 3rem);
  padding-inline: 2rem;
}

.card {
  max-width: 360px;
  flex-grow: 1;
  align-self: stretch;
  background-color: #ffffff08;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1.5rem;
  transition: 0.4s;
  text-align: center;
  color: aliceblue;
  border: solid aliceblue;
}

.card:nth-child(3):hover {
  box-shadow: rgba(255, 217, 0, 0.219) 0 0 100px;
}
.card:nth-child(2) {
  transform: scale(1.05);
}

.card:nth-child(2):hover {
  box-shadow: rgba(51, 255, 0, 0.219) 0 0 100px;
}

.card:hover {
  box-shadow: rgba(255, 0, 0, 0.219) 0 0 100px;
}
.card-header {
  display: grid;
  gap: 0.65rem;
}
.card-header h1.premium {
  font-weight: 600;
  color: #fdffb6;
}
.card-header p {
  font-size: 0.85rem;
  font-weight: 500;
}
.card-price {
  padding: 2rem 0;
  border-bottom: 1px solid rgb(160, 160, 160);
  width: 100%;
  font-size: 1.4rem;
}
.card-features {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}
.card-feature {
  display: flex;
  gap: 0.8rem;
}
.card-feature p {
  text-align: initial;
  font-size: 0.88rem;
  line-height: 1.4;
}
h4 {
  margin-top: 1rem;
  text-align: initial;
}
img {
  width: 20px;
  height: 20px;
}
@media (max-width: 1024px) {
  section {
    grid-template-columns: 1fr;
    padding: 2rem;
  }
}
#filter,
#limit {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  color: white;
  background-color: purple;
}
#filter::after,
#limit::after {
  position: absolute;
  left: -40px;
  opacity: 0;
  width: 200px;
  font-size: 0.8rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(66, 66, 66);
  box-shadow: 0 0 10px 8px black;
  z-index: 11;
}
#filter::after {
  content: "Tavarlarni saralash: masalan faqat xiomi telefonlarini ko'rish yoki faqat samsung";
}
#limit::after {
  content: "Chegaralangan narxda tavarlarni topish: 5mlndan 10mlngacha bo'lgan tavarlarni topish yoki boshqa narh oralig'idagilarni";
}
#filter:hover::after,
#limit:hover::after {
  opacity: 1;
}

.vip {
  color: yellow;
  text-shadow: 0 0 10px rgba(255, 255, 0, 0.397);
  font-size: 30px;
}

.select {
  background: red;
  border: none;
  position: fixed;
  top: 20%;
  left: -4%;
  transform: rotate(90deg);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.select:hover {
  box-shadow: rgba(255, 0, 0, 0.219) 0 0 100px;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 50;
  background: #0000002d;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.hidden_card {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.hidden_card > p {
  font-size: 22px;
  color: black;
  font-weight: 700;
}
